<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="text-center">
            <h1 class="bg-primary mt-3 p-3 text-white">Olympic Games Countries List</h1>

            @if (TempData["message"] != null)
            {
                <h4 class="bg-success p-2">@TempData["message"]</h4>
            }
 
            @if (!ViewContext.View.Path.Contains("favorites"))
            {
                var session = new CountrySession(Context.Session);
                <h5 class="bg-info p-2">
                    <a asp-controller="Favorites"
                       class="text-white">My Favorite Countries</a>
                    <span class="badge badge-light">
                        @(session.GetMyCountryCount())
                    </span> 
                </h5>
            }
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>